
{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "proseWrap": "always",
  "quoteProps": "as-needed",
  "trailingComma": "none",
  "arrowParens": "always",
  "tailwindConfig": "./tailwind.config.js",
  "tailwindFunctions": ["clsx", "cn", "tw", "classnames"],
  "plugins": ["prettier-plugin-tailwindcss"]
}